<a href="https://colab.research.google.com/github/durgapurusothaman3-ship-it/Python-Project/blob/main/Titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_path="/content/drive/MyDrive/PROJECT/Titanic-Dataset.csv"

In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv(file_path)

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
import pandas as pd
import numpy as np

data = pd.read_csv("/content/drive/MyDrive/PROJECT/Titanic-Dataset.csv")
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
age_series = data['Age']
fare_series = data['Fare']
survived_series = data['Survived']

print(age_series.head())
print(fare_series.head())
print(survived_series.head())

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [13]:
print(data.head())
print(data.info())
print(data.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [14]:
print(data.isnull().sum())
data['Age'].fillna(data['Age'].mean(), inplace=True)

data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

data.drop(columns=['Cabin'], inplace=True)
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

/tmp/ipython-input-1695/1065242124.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

In [15]:
print(data.loc[0])
print(data.iloc[0:5])
print(data[['Age', 'Fare', 'Survived']].head())

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Embarked                             S
Name: 0, dtype: object
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
4      0            373450   8.0500        S
    Age     Fare  Survived
0  22.0   7.2500         0
1  38.0  71.2833         1
2  26.0   7.9250         1
3  35.0  53.1000         1
4  35.0   8.0500         0

In [16]:
data.rename(columns={'Sex': 'Gender'}, inplace=True)

print(data.head())
pivot_table = data.pivot_table(values='Survived',
                             index='Gender',
                             aggfunc='sum')

print(pivot_table)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
4      0            373450   8.0500        S
        Survived
Gender
female       233
male         109

In [17]:
age_above_30 = data[data['Age'] > 30]
fare_above_50 = data[data['Fare'] > 50]
female_survived = data[(data['Gender'] == 'female') & (data['Survived'] == 1)]
print(female_survived.head())

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name  Gender   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Embarked
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
8      2            347742  11.1333        S
9      0            237736  30.0708        C

In [19]:
print(data.sort_values(by='Fare', ascending=False).head())
print(data.sort_values(by='Age').head())
print(data.sort_values(by='Survived', ascending=False).head())

     PassengerId  Survived  Pclass                                Name  \
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
88            89         1       1          Fortune, Miss. Mabel Helen
438          439         0       1                   Fortune, Mr. Mark

     Gender   Age  SibSp  Parch    Ticket      Fare Embarked
679    male  36.0      0      1  PC 17755  512.3292        C
258  female  35.0      0      0  PC 17755  512.3292        C
737    male  35.0      0      0  PC 17755  512.3292        C
88   female  23.0      3      2     19950  263.0000        S
438    male  64.0      1      4     19950  263.0000        S
     PassengerId  Survived  Pclass                             Name  Gender  \
803          804         1       3  Thomas, Master. Assad Alexander    male
755          756         1       2        Hamalainen, Master. Viljo    male
469          470         1       3    Baclini, Miss. Helene Barbara  female
644          645         1       3           Baclini, Miss. Eugenie  female
78            79         1       2    Caldwell, Master. Alden Gates    male

      Age  SibSp  Parch  Ticket     Fare Embarked
803  0.42      0      1    2625   8.5167        C
755  0.67      1      1  250649  14.5000        S
469  0.75      2      1    2666  19.2583        C
644  0.75      2      1    2666  19.2583        C
78   0.83      0      2  248738  29.0000        S
     PassengerId  Survived  Pclass  \
889          890         1       1
887          888         1       1
1              2         1       1
2              3         1       3
3              4         1       1

                                                  Name  Gender   Age  SibSp  \
889                              Behr, Mr. Karl Howell    male  26.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

     Parch            Ticket     Fare Embarked
889      0            111369  30.0000        C
887      0            112053  30.0000        S
1        0          PC 17599  71.2833        C
2        0  STON/O2. 3101282   7.9250        S
3        0            113803  53.1000        S

In [20]:
survival_by_gender = data.groupby('Gender')['Survived'].mean()
print("Survival Rate by Gender:")
print(survival_by_gender)

Survival Rate by Gender:
Gender
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [21]:
avg_age_by_class = data.groupby('Pclass')['Age'].mean()
print("Average Age by Passenger Class:")
print(avg_age_by_class)

Average Age by Passenger Class:
Pclass
1    37.048118
2    29.866958
3    26.403259
Name: Age, dtype: float64

In [22]:
survival_by_embarked = data.groupby('Embarked')['Survived'].sum()
print("Survival Count by Embarked:")
print(survival_by_embarked)

Survival Count by Embarked:
Embarked
C     93
Q     30
S    219
Name: Survived, dtype: int64

In [23]:
category_df = pd.DataFrame({
    'Pclass': [1, 2, 3],
    'Class_Category': ['Upper', 'Middle', 'Lower']
})
merged_data = pd.merge(data, category_df, on='Pclass')
print(merged_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked Class_Category
0      0         A/5 21171   7.2500        S          Lower
1      0          PC 17599  71.2833        C          Upper
2      0  STON/O2. 3101282   7.9250        S          Lower
3      0            113803  53.1000        S          Upper
4      0            373450   8.0500        S          Lower

In [25]:
data_join = data.join(category_df.set_index('Pclass'), on='Pclass')
print(data_join.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked Class_Category
0      0         A/5 21171   7.2500        S          Lower
1      0          PC 17599  71.2833        C          Upper
2      0  STON/O2. 3101282   7.9250        S          Lower
3      0            113803  53.1000        S          Upper
4      0            373450   8.0500        S          Lower

In [29]:
data_part1 = data.iloc[:200]
data_part2 = data.iloc[200:400]

concat_data = pd.concat([data_part1, data_part2])
print(concat_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Gender   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
4      0            373450   8.0500        S

In [30]:
avg_age_survival = data.groupby('Survived')['Age'].mean()
print(avg_age_survival)

Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64

In [31]:
print("Highest Fare:", data['Fare'].max())
print("Lowest Fare:", data['Fare'].min())

Highest Fare: 512.3292
Lowest Fare: 0.0

In [32]:
survival_percentage = (data['Survived'].sum() / len(data)) * 100
print("Overall Survival Percentage:", survival_percentage)

Overall Survival Percentage: 38.38383838383838